body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #3cd1ec, #00c2de);
    color: white;
    text-align: center;
    padding:0;
}
main{
    height: 61em;
    font-size: large;
}
header{
    background: linear-gradient(to bottom, #38c5d9, #23b6d1);
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: center;
    font-size: xx-large;    
}


.semisters{
    display: grid;
    grid-template-columns: repeat(2,1,fr);
    gap: 10px;
}

button{
     background-color:white;
     padding: 25px 20px;
     font-size: 17px;
     cursor: pointer;
     border-radius: 5px;
     width: 20em;
}

button :hover{
    background-color: aqua;
}
.semisters a{
    text-decoration: none;
}